include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt
include pytest.ini
recursive-include mafia_wiki_scraper/resources *
recursive-include mafia_wiki_scraper/tests *
